@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
html{
	font-size: 15px;
	font-family: 'Source Sans Pro', Verdana;
	height: 100%;
	color: #444;
}
body {
	min-height: 100%;
	background-color: #f7f7f7;
	margin:0;
}

article {margin:auto 10px;}
input, select, textarea {
	font-family: 'Source Sans Pro', Verdana;
}
a { color: rgb(91, 133, 185); text-decoration: none; cursor:pointer; }
a:hover { color: rgb(0, 0, 185); }
.hide { display: none; }

h1, h2, h3, h4, h5, h6 { margin:0; }

ul{margin:0;padding:0;}
li{margin-left: 2em;}

nav ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #acacac;
	color: #58A775;
}
a:hover {
	border-bottom: 1px dotted #acacac;
	opacity: .75;
}
p, li {
	line-height: 1.6em;
	margin: 1em .5em;
}
strong { font-family: Verdana;}
blockquote {
	background-color: #efefef;
	padding: 0 3px;
	margin: 1em;
}
code {
	background-color: #efefef;
	padding: 2px 4px 4px;
	border-radius: 4px;
}
li {
	margin: 0px;
}

ul.nobullets { list-style-type: none; }
ul.nobullets > li { margin: 0; }


.gliph {
	color: #8BC84B;
	font-size: 0.7em;
	display: inline-block;
	margin-top: -5px;
	vertical-align: middle;
}
body > header {
	padding-left: 10px;
	background-color: #eee;
	height: 50px;
}
h1 {
	font-size:3em;
	line-height: 1em;
}
#connection {
	position: absolute;
	top: 10px;
	right: 10px;
}
#guide {
	position: absolute;
	top:50px;
	bottom: 0;
	width: 60%;
	overflow: scroll;
}

#live {
	position: absolute;
	top:50px;
	right: -10px;
	bottom: 0;
	width:40%;
	border-left: solid 2px #efefef;
}

#live header {
	position: absolute;
	width: 100%;
}
#live header h1 {
	font-size: 2em;
	text-align: center;
	background-color: #8fbc8f;
	padding: 4px;
}
#live footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: #eee;
	width: 100%;
}
#spin {
	position: absolute;
	left:47%;
	top: 2.5em;
	display: none;
}
#spin.loading {
	display: block;
}
#events {
	position:absolute;
	font-size: 1em;
	word-wrap: break-word;
	top: 2.5em;
	bottom: 20px;
	width: 100%;
	overflow: scroll;
}
#events time {
	display: block;
	border-bottom: 1px dashed #aaa;
	font-size: .5em;
	color: #888;
	font-family: monospace;
}
#events p {
	line-height: 1.2em;
	margin-bottom: 0;
}
#events p.enter {
	transition: height 1s ease;
	overflow:hidden;
}
#events p.notime time {
	display: none;
}
.action .nick {
	margin-right: 0;
}
.action .nick:after {
	content: ''
}
.action .msg {
	font-weight: bold;
}

.nick {
	margin-right: 1em;
	font-weight: bold;
}
.nick:after {
	content: ':'
}
.msg {
	color: #555;
}
