extends layout

block body
	article#guide
		h2 Getting started with #Node.js on IRC
		!=readme
		hr(style="margin-top: 50px;")
		| This informational project was started by William Kapke. You may often find him in <code>#Node.js</code> as <code>wilkap</code><br>
		br
		strong Got something to Add?
		br
		| Great! Create an <a href="https://github.com/williamkapke/nodeirc/issues">issue</a> or send a Pull Request!
