<html>
  <head>
    <title>Node.js Meatspace</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
    <style>
      body {
        padding: 40px 20px;
        font-family: 'Raleway', sans-serif;
        color: #333;
        max-width: 800px;
        margin: 0px auto;
      }
      a {
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom: 1px solid #acacac;
        color: #58A775;
      }
      a:hover {
        border-bottom: 1px dotted #acacac;
        opacity: .75;
      }
      h1 {font-size: 300%;}
      p, li {
        line-height: 1.6em;
        margin: 1em .5em;
      }
      strong { font-family: Verdana;}
      blockquote {
        background-color: #efefef;
        padding: 0 3px;
        margin: 1em;
      }
      code {
        background-color: #efefef;
        padding: 2px 4px 4px;
        border-radius: 4px;
      }
      li {
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <a href="https://github.com/williamwicks/nodeirc"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    {{{readme}}}
    <hr style="margin-top: 50px;">
    This informational project was started by William Wicks. You may often find him in <code>#Node.js</code> as <code>wwicks</code><br>
    <br>
    <strong>Got something to Add?</strong><br>
    Great! Create an <a href="https://github.com/williamwicks/nodeirc/issues">issue</a> or send a Pull Request!
  </body>
</html>
